/.idea
/.vscode
*.log
.env
.phpstorm.meta.php
.constant
install/install.lock
public/phpExcel/*
source_zip/*
mysqldata/data
redisdata/data
php_crmeb/ex*
workspace.code-workspace
.DS_Store
crmeb/*

.travis.yml
.version
